body {
  font-family: 'McLaren', cursive;
  position: relative;
}

.header_menu {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header_menu .logo {
  width: 150px;
  margin: 0;
  position: relative;
  display: none;
}

a {
  text-decoration: none;
  color: #27509e;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  text-shadow: 0 0 5px #27509e;
}

ul {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  margin-right: 50px;
  cursor: pointer;
}

.nav-btn {
  border: 2px solid #27509e;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #27509e;
  font-family: 'McLaren', cursive;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  background-color: #27519e00;
}

.nav-btn:hover {
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #27509e;
          box-shadow: 0 0 0 2px white, 0 0 0 4px #27509e;
  background-color: #fff;
  color: #27509e;
}

.open_img {
  width: 70px;
  margin-top: -20px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
  /* transform: translateY(-100%) */
}

/* .nav-menu_active
     transform: translateY(0%) */
.stocks_slider {
  width: 80%;
  height: 400px;
  border: 2px solid #27509e;
  margin: 0 auto;
}

.description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description_img_left {
  border: 2px solid #27509e;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vh;
}

.description_img_right {
  border: 2px solid #27509e;
  -webkit-box-pack: flex-ends;
      -ms-flex-pack: flex-ends;
          justify-content: flex-ends;
  width: 50vh;
}

.company_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

/* .buy_elements
    margin: 0 auto
    margin-top: 50px
    border: 2px solid #27509e
    width: 80%
    display: flex
    .blocks_left
        flex-direction: column
        width: 40%
        .element_left_top
            background-color: #ff0606
            margin-right: 10px
            width: 30%
            height: 250px
        .element_left_bottom
            background-color: #ff0606
            margin-right: 10px
            width: 30%
            height: 250px
    .element_main
        background-color: #3700ff
        width: 50%
        height: 250px */
.footer {
  height: 30vh;
  font-size: 16pt;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #27509e;
}

.footer .footer-copy {
  text-align: center;
}

.footer .footer-nav {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */